node_modules
# Chaves API
.env

/generated/prisma

# Sessões do Robô do WhatsApp (MUITO IMPORTANTE!)
# Ignorar isso evita subir as chaves da sua sessão web logada do celular
src/.wwebjs_auth/
src/.wwebjs_cache/

# Logs e arquivos de sistema
npm-debug.log
yarn-error.log
.DS_Store
